<a href="https://colab.research.google.com/github/katehee/Lotto_winning_number_prediction_using_LSTM/blob/master/Lotto_6_49_winning_number_prediction_using_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [76]:
!wget http://www.playnow.com/resources/documents/downloadable-numbers/649.zip
!unzip 649.zip

--2022-06-14 01:29:48--  http://www.playnow.com/resources/documents/downloadable-numbers/649.zip
Resolving www.playnow.com (www.playnow.com)... 198.162.228.12
Connecting to www.playnow.com (www.playnow.com)|198.162.228.12|:80... ^C
Archive:  649.zip
replace 649.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [68]:
df = pd.read_csv("649.csv")
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,1982-06-12,3,11,12,14,41,43,13
1,649,2,0,1982-06-19,8,33,36,37,39,41,9
2,649,3,0,1982-06-26,1,6,23,24,27,39,34

In [102]:
winning_numbers = []
for index, row in df.iterrows(): 
  winning_numbers.append(row[4:].tolist()) 
print("The winning number of",len(winning_numbers), "draws are retrieved")

The winning number of 4006 draws are retrieved

In [108]:
from sklearn.preprocessing import LabelBinarizer

num_range = list(range(1,50))
lb = LabelBinarizer()
lb.fit(num_range)

encoded_winning_numbers = []
for winning_number in winning_numbers: 
  encoded_winning_number = lb.transform(winning_number)
  encoded_winning_numbers.append(encoded_winning_number)
  # print(lb.inverse_transform(encoded_winning_number))
total_draws = len(encoded_winning_numbers)
print(total_draws)

4006

In [119]:
x_samples = encoded_winning_numbers[0:total_draws-1]
y_samples = encoded_winning_numbers[1:total_draws]

- import past history 
- trainset include all the history to predict the latest number 
- history plot (accuracy, loss) 
- pull out most frequent number