<a href="https://colab.research.google.com/github/katehee/Lotto_winning_number_prediction_using_LSTM/blob/master/Lotto_6_49_winning_number_prediction_using_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer

In [ ]:
!wget http://www.playnow.com/resources/documents/downloadable-numbers/649.zip
!unzip 649.zip

--2022-06-14 17:14:01--  http://www.playnow.com/resources/documents/downloadable-numbers/649.zip
Resolving www.playnow.com (www.playnow.com)... 198.162.228.12
Connecting to www.playnow.com (www.playnow.com)|198.162.228.12|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://www.playnow.com/resources/documents/downloadable-numbers/649.zip [following]
--2022-06-14 17:14:01--  https://www.playnow.com/resources/documents/downloadable-numbers/649.zip
Connecting to www.playnow.com (www.playnow.com)|198.162.228.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46941 (46K) [application/zip]
Saving to: ‘649.zip’

649.zip             100%[===================>]  45.84K   300KB/s    in 0.2s

2022-06-14 17:14:02 (300 KB/s) - ‘649.zip’ saved [46941/46941]

Archive:  649.zip
  inflating: 649.csv

In [ ]:
df = pd.read_csv("649.csv")
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,1982-06-12,3,11,12,14,41,43,13
1,649,2,0,1982-06-19,8,33,36,37,39,41,9
2,649,3,0,1982-06-26,1,6,23,24,27,39,34

In [ ]:
def get_winning_number(df): 
  number_set = []
  for index, row in df.iterrows(): 
    number_set.append(row[4:].tolist()) #df column number drawn 1 to Bonus 
  print("The total of",len(number_set), "draws' winning numbers are retrieved")
  return number_set
winning_numbers = get_winning_number(df)

The total of 4006 draws' winning numbers are retrieved

In [ ]:
def number2onehot(numbers):
  encoded = np.zeros(49) 
  for number in numbers: 
    encoded[number - 1] = 1
  return encoded

def onehot2number(numbers): 
  decoded  = []
  index = 0
  for number in numbers: 
    if number == 1: 
      decoded.append(index + 1)
    index += 1 
  return decoded

enc_winning_numbers = list(map(number2onehot,winning_numbers))
# decoded_winning_numbers = list(map(onehot2number, enc_winning_numbers))

In [ ]:
total_draws = len(enc_winning_numbers)
x_samples = enc_winning_numbers[0:total_draws-1]
y_samples = enc_winning_numbers[1:total_draws]

In [ ]:
sum(x_samples[0])

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0])

- import past history 
- trainset include all the history to predict the latest number 
- history plot (accuracy, loss) 
- pull out most frequent number